html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: whitesmoke;
}

.color {
  background-color: #ffbcb1;
}

.card {
  padding-right: 10px;
  padding-left: 10px;
}

#save-city {
  margin-left: 47%;
}

#day-weather {
  text-align: center;
}

footer {
  text-align: center;
}

#icon-lrg {
  font-size: 200px;
  padding-bottom: 0px;
}

.card-icon {
  font-size: 50px;
  text-align: center;
  margin-bottom: 0px;
}

.list li {
  list-style: none;
}

a {
  transition: transform 200ms ease-in-out;
}
a:hover {
  cursor: pointer;
  display: inline-block;
  padding-top: 10px;
  transform: scale(1.1,1.1);
}

.button, .search-button, .search-input {
  align-items: center;
  position:relative;
  background-color: whitesmoke;
  border: 0.5px solid rgb(85, 79, 79);
  border-radius: 10px;
  color: #918887;
  display: inline-block;
  padding: 15px 15px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

.search-input {
  text-align: center;
  padding: 0px;
}


.button:hover, .search-input:hover, .search-button:hover, .search-input:active {
  background-color: #ffbcb1;
  color:whitesmoke;
}

footer {
  margin-bottom: 30px;
}

#weather-cards {
  text-align: center;
  display:flex;
  justify-content: center;
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  background-color: #e1c3e725;
  border: 3px solid #e0d9d9af;
  border-radius: 10px;
  margin-left: 180px;
  margin-right: 180px;
  margin-bottom: 40px;
}


.navbar-toggler-icon {
  background-color: #918887;
}
@media (max-width: 900px) {
  #save-city {
    margin-left: 150px;
  }
  #weather-cards {
    flex-direction: column;
    margin: 0px;
  }
}
